{% extends 'movie_app/base.html' %}
{% load static %}

{% block title %}About | MovieVerse{% endblock %}

{% block content %}

<div class="about-container">
    <div class="glass-card">
        <h2>🎬 About This Website</h2>
        <p>
            Welcome to our Movie Recommendation Platform! This site is built to help users find top-rated movies
            across various genres and OTT platforms like Netflix, Prime Video, and more.
        </p>
        <p>
            Users can explore trending movies, filter by genres, and add their favorites to a watchlist — all without
            login.
        </p>
        <p>
            You can also recommend your favorite movies to us through the Review page!
        </p>
    </div> <br><br>

    <div class="glass-card">
        <h2>👨‍💻 Developer Info</h2>
        <p><strong>Name :</strong> Gurupraveen</p>
        <p><strong>YouTube Channel :</strong> Truth Trail Facts (400K+ subscribers)</p>
        <p><strong>Location :</strong> Tamil Nadu, India</p>
        <p><strong>Skills :</strong> Python, Django, React, JavaScript, Web Design, Prompt Engineering</p>
    </div>
</div>

{% endblock %}